main.main
	div.card
		div.car__img-block
			img(src="", alt="Foto man")
		div.card__name Денис Выхрыстюк
		div.card__intro Личный сайт веб разработчика
		div.social
			ul.social__items
				each val in ['vk', 'git', 'skype']
					li.social__item
						a(href="#", class="social__link social__link--#{val}") 
							| #{val}
		div.card__links
			each val in ['Мои работы', 'Обо мне', 'Блог']
						a(href="#", class="card__link") 
							| #{val}
	